{#
/**
 * @file
 * Theme override for displaying a nodelink.
 *
 * Available variables:
 * - link_path: URL of the node.
 * - title: Text of the a tag.
 *
 */
#}
{% if link_path -%}
  <a href="{{ link_path }}" target="_blank" >{{ title }}</a>
{%- else -%}
  <span>{{ title }}</span>
{%- endif -%}
